@import '_breadcrumbs.sass'

@import '_button.sass'

@import '_list-hotels.sass'

@import '_menu.sass'

@import '_pagination.sass'

@import 'show_hotel.sass'

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic,cyrillic-ext')

*, html
  margin: 0
  padding: 0

body
  margin: 0
  padding: 0
  background: #EAEBEB
  font-family: 'Roboto', sans-serif
  color: #3B3B3B
    word-wrap: break-word

h1, h2, h3, h4, h5, h6
  color: #1E1E1E

h1, h2
  font-weight: lighter

h1
  font-size: 36pt

h2
  font-size: 26pt

h3
  font-weight: normal
  font-size: 22pt

h4, h5, h6
  font-weight: bold

h4
  font-size: 18pt

h5
  font-size: 14pt

h6
  font-size: 10pt

.container
  width: 1000px
  margin: 0 auto
  &.body
    padding: 30px 0

.clear
  clear: both

footer
  background: #303f9f
  color: #fff
  width: 100%
  height: 40px
  p
    padding-top: 12px