*, html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #FFF;
  font: 16pt "Tahoma", "Arial", "Helvetica", sans-serif;
  color: #3B3B3B;
}
h1, h2, h3, h4, h5, h6 {
  color: #1E1E1E;
}
h1 {
  font-weight: lighter;
  font-size: 48pt;
}
h2 {
  font-weight: lighter;
  font-size: 32pt;
}
h3 {
  font-weight: normal;
  font-size: 26pt;
}
h4 {
  font-weight: bold;
  font-size: 20pt;
}
h5 {
  font-weight: bold;
  font-size: 18pt;
}
h6 {
  font-weight: bold;
  font-size: 16pt;
}
#container {
    width: 800px;
    margin: 0 auto;

   }
#header {
  width: inherit;
    background: #8fa09b;
    font-size: 20pt;
    font-weight: bold; /* Жирное начертание */
    color: #edeed5;
    padding: 5px; /* Отступы вокруг текста */
   }
#content {
    width: 800px;
    padding: 10px; /* Поля вокруг текста */
    border-right: 1px dashed #183533;
    background: #fff;
   }
#content p {
    margin-top: 0.3em;
   }
#footer {
  background: #8fa09b;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}
.clear {
    clear: both; /* Отмена обтекания */
}
   /*menu style*/
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li.right {
  float: right;
}

.menu li {
    float: left;
    border-right:1px solid #bbb;
}
.menu li:last-child {
    border-right: none;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*.menu li a:hover:not(.active) {*/
.menu li a:hover{
    background-color: #111;
}

.active {
    /*background-color: #547fbb;*/
    background-color: #333
}

/*breadcrumbs*/
#topbar { height: 75px; background: #f5f5f5; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; margin-top: 30px; padding: 0 55px; display: block; margin-bottom: 16px; }
#topbar .search { float: left; display: block; line-height: 75px; }
#topbar .search #s { border: 1px solid #b9b9b9; border-top: 1px solid #a0a0a0; font-family: Tahoma, Arial, sans-serif; color: #444; font-size: 1.3em; width: 420px; line-height: 1.5em; padding: 5px 11px; }


/* @group breadcrumb */
#content { padding: 0 55px; }

#breadcrumb, #breadcrumb2 { float: left; display: block; }
#breadcrumb ul, #breadcrumb2 ul { list-style: none; }

.crumbs { display: block; }
.crumbs li {  display: inline; }
.crumbs li.first { padding-left: 8px; }
.crumbs li a, .crumbs li a:link, .crumbs li a:visited { color: #666; display: block; float: left; font-size: 12px; margin-left: -13px; padding: 7px 17px 11px 25px; position: relative; text-decoration: none; }

.crumbs li a { background-image: url('../img/bg-crumbs.png');  background-repeat: no-repeat; background-position: 100% 0; position: relative; }
.crumbs li a:hover { color: #333; background-position: 100% -48px; cursor: pointer; }
.crumbs li a:active { color: #333; background-position: 100% -96px; }
.crumbs li.first a span { height: 29px; width: 3px; border-left: 1px solid #d9d9d9; position: absolute; top: 0px; left: 0px; }


.crumbs2 { display: block; margin-left: -13px; padding: 0; }
.crumbs2 li { display: inline; }
.crumbs2 li a, .crumbs2 li a:link, .crumbs2 li a:visited { color: #666; display: block; float: left; font-size: 12px; padding: 7px 16px 7px 19px; position: relative; text-decoration: none; border: 1px solid #d9d9d9; border-right-width: 0px; }

.crumbs2 li a  {
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.45, rgb(241,241,241)),color-stop(0.73, rgb(245,245,245)));

  background-image: -moz-linear-gradient( center bottom, rgb(241,241,241) 45%, rgb(245,245,245) 73%);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f1, endColorstr=#f5f5f5);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f1f1f1, endColorstr=#f5f5f5)";
}

.crumbs2 li.first a { border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; }
.crumbs2 li.last a { border-right-width: 1px; border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; }

.crumbs2 li a:hover {
  border-top-color: #c4c4c4;
  border-bottom-color: #c4c4c4;

  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.45, rgb(241,241,241)),color-stop(0.73, rgb(248,248,248)));
  background-image: -moz-linear-gradient( center bottom, rgb(241,241,241) 45%, rgb(248,248,248) 73%);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8, endColorstr=#f1f1f1);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f8f8f8, endColorstr=#f1f1f1)";

  color: #333;

  -moz-box-shadow: 0px 2px 2px #e8e8e8;
  -webkit-box-shadow: 0px 2px 2px #e8e8e8;
  box-shadow: 0px 2px 2px #e8e8e8;
}

.crumbs2 li a:active {
  border-top-color: #c4c4c4;
  border-bottom-color: #c4c4c4;

  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.45, rgb(224,224,224)),color-stop(0.73, rgb(235,235,235)));
  background-image: -moz-linear-gradient( center bottom, rgb(224,224,224) 45%, rgb(235,235,235) 73%);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ebebeb, endColorstr=#e0e0e0);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ebebeb, endColorstr=#e0e0e0)";

  color: #333;

  box-shadow: -1px 1px 1px 0px #dadada inset;
  -webkit-box-shadow: -1px 1px 1px 0px #dadada inset;
  -moz-box-shadow: -1px 1px 1px 0px #dadada inset;
}

/* @group clearfix classes */
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }

html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

.space { display: block; height: 45px; clear: both; }
/*pagination*/

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.pagination li a.active {
    background-color: #547fbb;
    color: white;
    border: 1px solid #547fbb;
}

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;}

.topnav {
  font-size: 0.8em;
  color: #000;
  background-color: #FFCF29;
  border: 1px #00009C solid;
  padding: 0.5em;
}

.data{
  display:inline-block;
}

.hotel {
  border: 1px solid #333;
  margin: 15px auto;
}
/*button readmore*/
.button, input[type=button], input[type=submit], button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
}

.button span, input[type=button] span, input[type=submit] span, button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after, input[type=button] span:after, input[type=submit] span:after, button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span, input[type=button]:hover span, input[type=submit]:hover span, button:hover span {
  padding-right: 25px;
}

.button:hover span:after, input[type=button]:hover span:after, input[type=submit]:hover span:after, button:hover span:after {
  opacity: 1;
  right: 0;
}
