<h1>Hotel show</h1>

<ul>
	<li><%= link_to 'Edit hotel', edit_hotel_path %></li>
	<li><%= link_to 'Delete hotel', hotel_path, method: :delete, data: { confirm: 'Do you want to delete hotel?' } %></li>
</ul>

<p>show hotel info</p>
<table>
  
    <tr>Hotel title:</tr>
    <tr>Hotel info:
    	<td>Photo:</td>
    	<td><p>Rating:</p>
    		<p>Breakfast included:</p>
    		<p>Price:</p>
    	</td>
    </tr>
 </table>

 <br />

 <%= link_to 'New Hotel', new_hotel_path %>