.center.hero-unit
  %h1 Welcome to the Hotel Advisor
  - @hotels.each do |hotel|
    %div.hotel
      - if hotel.photo.file.nil?
        %img{:alt => "hotel photo", :src => "/img/no-hotel.png", :width => "200"}
      - else
        %img{:alt => "hotel photo", :src => hotel.photo.thumb, :width => "200"}
      %div.data
        - if hotel.title.length > 12
          %h2
            %marquee
              =hotel.title
        -else
          %h2
            =hotel.title
        %p=rating_for hotel, 'rating', disable_after_rate: true
        %p
          Breakfast included: #{ hotel.breakfast==1 ? " Yes" :" No" }
        - if !hotel.price.nil?
          %p
            Price for room:#{hotel.price} $
        - else
          %p &nbsp;
        = link_to hotel_path(hotel), {class: 'button'} do
          %span
            Read More

= link_to hotels_path, {class:'button'} do
  %span
    View all hotels